.bsmr{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: burlywood;
    color:white;
    margin-bottom: 20px;
    position: fixed;
    
}

.apaweh{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 1000px;
}

.lah{
    width: 50px;
    height: 50px;
}

.option{
    display: flex;
    flex-flow: row;
    /* justify-content: space-between; */
    font-size: 19px;
    width: 1560px;
    height: 70px;
    
}

#title{
    font-size: 35px;
    margin: 0px;
    justify-content: flex-start;
}

.sukses{
    background-color: black;
    margin: 0px;
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.nye{
    color: white;
    margin: 17px;

}

body{
    margin: 0px;
    background-color: black;
}

p{
    padding-left: 32px;
    padding-right: 32px;
}

.nyu{
    color: white;
    margin: 17px;
}

.nyoh{
    color: white;
    margin: 17px;
}

h1{
    color: white;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.wow{
    padding-left: 20px;
}

.didi{
    color: white;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
